@import url("https://fonts.googleapis.com/css2?family=Croissant+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Poppins&family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Julee&family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
@font-face {
  font-family: "gilroy";
  src: url(../font/gilroy.ttf);
}
.pt-30 {
  padding-top: 30px;
}
@media (max-width: 767px) {
  .pt-30 {
    padding-top: 20px;
  }
}

.pb-30 {
  padding-bottom: 30px;
}
@media (max-width: 767px) {
  .pb-30 {
    padding-bottom: 20px;
  }
}

.main-title {
  font-family: "Poppins", serif;
  font-size: 25px;
  line-height: 40px;
}

.colored-text {
  font-weight: bold;
  color: #f39454;
}

.desc-row {
  position: relative;
}
.desc-row::before {
  position: absolute;
  content: url("../images/left.png");
  left: -10px;
  top: 50px;
  z-index: 1;
}
@media (max-width: 767px) {
  .desc-row::before {
    left: -12px;
    top: 160px;
  }
}
.desc-row::after {
  position: absolute;
  content: url("../images/left.png");
  right: -10px;
  top: -80px;
  transform: rotate(180deg);
  z-index: 1;
}
@media (max-width: 767px) {
  .desc-row::after {
    right: -12px;
    top: -30px;
  }
}

.main-intro-wrapper {
  font-family: "Domine", serif;
  color: #212529;
  font-size: 20px;
  font-weight: 400;
  text-align: justify;
}
@media (max-width: 767px) {
  .main-intro-wrapper {
    font-size: 18px;
  }
}

.description {
  font-family: "Nunito Sans", sans-serif;
  color: #000;
  font-size: 22px;
  font-weight: 400;
  text-align: justify;
}
@media (max-width: 767px) {
  .description {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  header .container {
    padding: 0;
  }
}
header .logo {
  max-width: 100%;
}
header hr {
  opacity: 1;
  border-top: 2px #000 solid;
}
header .newsletter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .newsletter .lines {
  height: 1px;
  flex-basis: 30%;
  display: inline-block;
  background: black;
}
header .main-heading {
  width: 35%;
}
@media (max-width: 767px) {
  header .main-heading {
    width: 80%;
  }
}
header h3 {
  font-family: "Kaushan Script", cursive;
  font-size: 40px;
  color: #FFB627;
}
@media (max-width: 767px) {
  header h3 {
    font-size: 30px;
  }
}

.into {
  background-color: #f39454;
  color: #000000;
  font-family: "Poppins", serif;
  border-radius: 12px;
  padding: 1rem 1.5rem;
  font-size: 1.8rem;
  font-weight: 500;
  position: relative;
}
@media (max-width: 767px) {
  .into {
    font-size: 1.2rem;
    padding: 0.8rem 1.2rem;
  }
}
.into div {
  font-size: 18px;
}
@media (max-width: 767px) {
  .into div {
    font-size: 16px;
  }
}

.intro-section .detail-box {
  text-align: center;
  font-size: 20px;
  color: #000;
}
@media (max-width: 767px) {
  .intro-section .detail-box {
    font-size: 18px;
  }
}
.intro-section span {
  font-weight: 600;
  letter-spacing: 1px;
}
.intro-section .image-box {
  border-radius: 20px;
  padding: 10px;
  text-align: center;
}
.intro-section .image-box img, .intro-section .image-box video {
  border-radius: 12px;
  width: 100%;
}
.intro-section .image-box img {
  transition: transform 0.3s;
}
.intro-section .image-box .caption {
  font-size: 26px;
  margin-top: 10px;
}
@media (max-width: 767px) {
  .intro-section .image-box .caption {
    font-size: 20px;
    line-height: 25px;
  }
}
.intro-section .image-box .caption .caption-sm {
  font-size: 22px;
  line-height: 1.3;
}
@media (max-width: 767px) {
  .intro-section .image-box .caption .caption-sm {
    font-size: 18px;
    margin-top: 5px;
  }
}
.intro-section .yellow-image-box {
  background-color: #f07777;
  box-shadow: 0px 0px 16px 5px rgba(253, 218, 202, 0.5019607843);
}
.intro-section .yellow-image-box:hover {
  box-shadow: 0px 0px 16px 5px rgba(253, 218, 202, 0.8549019608);
}
.intro-section .yellow-image-box:hover img {
  transform: scale(0.98);
}
.intro-section .yellow-image-box .caption {
  color: #fff;
}
.intro-section .link {
  color: black;
  color: #f39454;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  text-decoration: underline;
}

.note-msg {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
}
.note-msg span {
  display: block;
}

.cta {
  border: 2px solid #f07777;
  color: #f07777;
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}
@media (max-width: 767px) {
  .cta {
    font-size: 16px;
    padding: 0.3rem 0.8rem;
  }
}
.cta:hover {
  background-color: #f07777;
  color: #fff;
}

.colored-row {
  background-color: #ffe8d6;
}

.statistics-section {
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 767px) {
  .statistics-section img {
    width: 140px !important;
  }
}
.statistics-section .main-note {
  text-align: center;
  margin-top: 20px;
}
.statistics-section .main-note p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 24px;
}
@media (max-width: 767px) {
  .statistics-section .main-note p {
    font-size: 18px;
    margin-bottom: 0;
  }
}
.statistics-section .main-note p span {
  font-weight: bold;
  color: #f07777;
  font-size: 30px;
  margin-top: 20px;
  line-height: 1.2;
}
@media (max-width: 767px) {
  .statistics-section .main-note p span {
    font-size: 22px;
  }
}

@media (max-width: 767px) {
  .gallery-section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.gallery-section .gallery-wrapper {
  margin-top: 20px;
}
@media (max-width: 767px) {
  .gallery-section .gallery-wrapper .mob-seperate-col {
    margin-top: 1rem;
    border-bottom: 2px solid #f39454;
    background: rgba(225, 123, 92, 0.0901960784);
    padding-top: 1rem;
  }
}
@media (max-width: 767px) {
  .gallery-section .gallery-wrapper .mob-seperate-col-top {
    border-top: 2px solid #f39454;
  }
}
@media (min-width: 768px) {
  .gallery-section .gallery-wrapper .gallery-item {
    background: rgba(225, 123, 92, 0.0901960784);
  }
}
.gallery-section .gallery-wrapper .gallery-item:hover img {
  transform: scale(1.05);
}
.gallery-section .gallery-wrapper .gallery-item .gallery-img-wrapper {
  position: relative;
  display: block;
  overflow: hidden;
  border: 6px solid #f07777;
}
@media (max-width: 767px) {
  .gallery-section .gallery-wrapper .gallery-item .gallery-img-wrapper {
    border: 4px solid #f07777;
  }
}
.gallery-section .gallery-wrapper .gallery-item .gallery-img-wrapper img {
  width: 100%;
  transition: all 500ms ease;
}
.gallery-section .gallery-wrapper .gallery-item p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 0 8px 16px;
  text-align: center;
}
@media (max-width: 767px) {
  .gallery-section .gallery-wrapper .gallery-item p {
    font-size: 18px !important;
    padding: 0;
    margin-bottom: 20px;
  }
}

.yellow-border {
  border: 1px solid #ffc107;
  background-color: rgba(255, 193, 7, 0.0549019608);
}

.light-yellow {
  background-color: rgba(243, 148, 84, 0.1882352941);
  border: 6px solid #f39454;
}
@media (max-width: 767px) {
  .light-yellow {
    border: 4px solid #f39454;
  }
}
.light-yellow span {
  color: #f39454;
}

.light-red {
  background-color: rgba(240, 119, 119, 0.1490196078);
  border: 6px solid #f07777;
}
@media (max-width: 767px) {
  .light-red {
    border: 4px solid #f07777;
  }
}
.light-red span {
  color: #f07777;
}

.image-with-name {
  position: relative;
}
.image-with-name .name-wrapper {
  position: absolute;
  z-index: 10;
  right: 0;
  background-color: #f07777;
  bottom: 0;
}
@media (max-width: 767px) {
  .image-with-name .name-wrapper {
    bottom: 0;
    padding: 2px 10px;
  }
}
.image-with-name .name-wrapper span {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #fff;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0 8px;
}
@media (max-width: 767px) {
  .image-with-name .name-wrapper span {
    font-size: 14px;
    padding: 0;
  }
}

.main-event-section {
  padding-left: 2rem;
  padding-right: 2rem;
}
@media (max-width: 767px) {
  .main-event-section {
    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;
  }
}
.main-event-section h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
  padding: 20px;
}
@media (max-width: 767px) {
  .main-event-section h2 {
    font-size: 20px;
    line-height: 28px;
    padding: 10px;
  }
}
.main-event-section .dark-red {
  background: #f07777;
}
.main-event-section .dark-yellow {
  background-color: #f39454;
}
.main-event-section span {
  font-weight: bold;
}
.main-event-section .main-event-img {
  position: relative;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .main-event-section .main-event-img {
    margin-bottom: 10px;
  }
}
.main-event-section .main-event-img img {
  width: 100%;
  position: relative;
  z-index: 2;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .main-event-section .main-event-img img {
    margin-bottom: 10px;
  }
}
.main-event-section .main-event-img .dark-yellow-border {
  border: 4px #f39454 solid;
}
.main-event-section .main-event-img .dark-red-border {
  border: 4px #f07777 solid;
}
.main-event-section .main-event-img .name-wrapper {
  position: absolute;
  bottom: 10px;
  z-index: 10;
  right: 0;
  padding: 3px 10px;
}
@media (max-width: 767px) {
  .main-event-section .main-event-img .name-wrapper {
    bottom: -8px;
    padding: 0px 10px;
  }
}
.main-event-section .main-event-img .name-wrapper p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  color: #fff;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .main-event-section .main-event-img .name-wrapper p {
    font-size: 14px;
  }
}
.main-event-section .main-event-img .bg-red {
  background: #f07777;
}
.main-event-section .main-event-img .bg-yellow {
  background: #f39454;
}

footer {
  background-color: #ffc107;
  color: white;
  text-align: center;
  padding: 2rem;
  margin-top: 20px;
}
@media (max-width: 767px) {
  footer .container {
    padding: 0;
  }
}
@media (max-width: 767px) {
  footer {
    padding: 1.2rem;
  }
}
footer .footer-bg {
  background-color: white;
  border-radius: 20px;
  padding: 10px 60px 15px;
  color: black;
  height: 100%;
}
@media (max-width: 767px) {
  footer .footer-bg {
    padding: 10px 15px 15px;
  }
}
footer .footer-bg p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  footer .footer-bg p {
    font-size: 18px;
    margin-bottom: 1rem;
  }
}
footer .footer-bg .nmebldtxt {
  font-weight: 600;
  margin-top: 0;
}
@media (max-width: 767px) {
  footer .footer-bg .nmebldtxt {
    font-size: 16px;
  }
}
footer .footer-bg .nmebldtxt span {
  font-weight: 800;
}
footer .footer-bg .nmebldtxt a {
  color: #000;
  text-decoration: none;
}
@media (max-width: 767px) {
  footer .footer-bg .nmebldtxt a {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  footer .follow img {
    width: 100%;
  }
}
footer .main-caption {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
  color: #000;
}
footer .ftrmnu {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 95%;
}
footer .ftrmnu li {
  color: #fff;
  background: #404042;
  text-align: center;
  text-decoration: none;
  border: 0;
  outline: 0;
  font-size: 12px;
  padding: 6px 12px;
  display: inline-block;
  transform: skew(-30deg);
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
  margin-bottom: 6px;
}
@media (max-width: 767px) {
  footer .ftrmnu li {
    font-size: 10px;
  }
}
footer .ftrmnu li span {
  display: inline-block;
  transform: skew(30deg);
}

.disclaimer {
  color: #333333;
  font-size: 13px;
  cursor: pointer;
}

.modal-content {
  border-radius: 20px;
}

.yearly-stats {
  background-color: rgba(240, 119, 119, 0.1490196078);
  max-width: 90%;
  margin: auto;
  border-radius: 30px;
  padding: 20px;
}
.yearly-stats .into {
  background-color: #f07777 !important;
}
@media (max-width: 767px) {
  .yearly-stats {
    padding: 10px;
    max-width: 100%;
  }
}
.yearly-stats .stat-box img {
  width: 170px;
}
@media (max-width: 767px) {
  .yearly-stats .stat-box img {
    width: 130px;
  }
}
.yearly-stats .stat-box .y-stat-number {
  font-weight: bold;
  font-size: 2.5rem;
  color: #f07777;
}
.yearly-stats .stat-box .y-stat-text {
  font-weight: 500;
  text-transform: capitalize;
  font-size: 18px;
}

.geners-wrapper .geners-box {
  background-color: #ffebdb;
  border-radius: 20px;
  font-family: "Nunito Sans", sans-serif;
}
.geners-wrapper .geners-box h5 {
  font-weight: bold;
}
@media (max-width: 768px) {
  .geners-wrapper .geners-box h5 {
    font-size: 18px;
  }
}
.geners-wrapper .geners-box p {
  font-size: 18px;
  font-weight: 500;
}
@media (max-width: 768px) {
  .geners-wrapper .geners-box p {
    font-size: 16px;
  }
}

.artists-wrapper .into {
  background-color: #f39454;
}
.artists-wrapper .most-booked-number {
  font-size: 1.9rem;
  font-family: "gilroy", "serif";
  line-height: 1.2;
  color: #000000;
}
@media (max-width: 768px) {
  .artists-wrapper .most-booked-number {
    font-size: 1.4rem;
    text-align: center;
  }
}
.artists-wrapper .most-booked-number span {
  position: relative;
  color: #000000;
}
.artists-wrapper .most-booked-number span::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 12px;
  background-color: rgba(243, 148, 84, 0.662745098);
  bottom: 1px;
  left: 0;
  z-index: -1;
}
@media (max-width: 767px) {
  .artists-wrapper .most-booked-number span::after {
    height: 10px;
  }
}
.artists-wrapper .most-booked-title {
  font-size: 1.5rem;
  font-weight: bold;
}
@media (max-width: 768px) {
  .artists-wrapper .most-booked-title {
    font-size: 1.2rem;
    text-align: center;
  }
}
.artists-wrapper .icon img {
  width: 60px;
}
@media (max-width: 768px) {
  .artists-wrapper .icon img {
    width: 40px;
  }
}
@media (max-width: 768px) {
  .artists-wrapper h4 {
    font-size: 18px;
  }
}
.artists-wrapper p {
  font-size: 18px;
  font-weight: 500;
  font-family: "Nunito Sans", sans-serif;
}
@media (max-width: 768px) {
  .artists-wrapper p {
    font-size: 16px;
  }
}
.artists-wrapper .img-collage img {
  width: 100%;
}
.artists-wrapper .spotlight-name {
  font-weight: 600;
  font-size: 19px;
  text-decoration: none;
  color: black;
  display: block;
}
@media (max-width: 767px) {
  .artists-wrapper .spotlight-name {
    font-size: 18px;
  }
}
.artists-wrapper .spotlight-content {
  font-size: 16px;
  padding: 0 5px;
}

.into1, .into3 {
  font-size: 2.2rem;
  position: relative;
  color: #f07777;
  font-weight: 700;
}
@media (max-width: 767px) {
  .into1, .into3 {
    font-size: 1.3rem;
  }
}

.into2 {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.into3 {
  color: #f39454;
}

.main-event-img1 {
  border: 4px solid #f39454;
  background-color: #f39454;
  border-radius: 10px;
  overflow: hidden;
  display: block;
  text-decoration: none;
}
@media (max-width: 767px) {
  .main-event-img1 {
    border: 2px solid #f39454;
  }
}
.main-event-img1 p {
  text-align: center;
  font-size: 1.5rem;
  color: white;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
@media (max-width: 767px) {
  .main-event-img1 p {
    font-size: 1rem;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
  }
}

.stats2 {
  background-color: rgba(243, 148, 84, 0.1882352941);
}
.stats2 .into2 {
  background-color: #f39454 !important;
}

.yearly-stats-highlighted1 {
  background-color: rgba(240, 119, 236, 0.1490196078);
  -o-border-image: linear-gradient(to right, #f3c4e8 0%, #f7b1a0 100%) 1;
     border-image: linear-gradient(to right, #f3c4e8 0%, #f7b1a0 100%) 1;
  border-radius: 5px; /* this doesn't work */
  border-width: 4px;
  border-style: solid;
  position: relative;
}
.yearly-stats-highlighted1 .corner1 {
  width: 100px;
  height: 100px;
  border-top: 4px solid #f7b1a0;
  border-right: 4px solid #f7b1a0;
  position: absolute;
  top: -12px;
  right: -12px;
}
@media (max-width: 767px) {
  .yearly-stats-highlighted1 .corner1 {
    width: 70px;
    height: 70px;
  }
}
.yearly-stats-highlighted1 .corner2 {
  width: 100px;
  height: 100px;
  border-bottom: 4px solid #f3c4e8;
  border-left: 4px solid #f3c4e8;
  position: absolutfdfdfe;
  bottom: -12px;
  left: -12px;
}
@media (max-width: 767px) {
  .yearly-stats-highlighted1 .corner2 {
    width: 70px;
    height: 70px;
  }
}
.yearly-stats-highlighted1 .into {
  background: linear-gradient(to right, #f3c4e8, #f7b1a0) !important;
  font-family: "gilroy", "serif";
  font-weight: 600;
  letter-spacing: 1px;
}
.yearly-stats-highlighted1 .into1, .yearly-stats-highlighted1 .into3 {
  color: black;
  font-family: "gilroy", "serif";
  font-weight: 500;
}

.yearly-stats-highlighted2 {
  background-color: rgba(119, 182, 240, 0.1490196078);
  border: 4px solid #acd4fa;
}
.yearly-stats-highlighted2 .into {
  background-color: #acd4fa !important;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "gilroy", "serif";
}
.yearly-stats-highlighted2 .into1, .yearly-stats-highlighted2 .into3 {
  color: black;
  font-family: "gilroy", "serif";
  font-weight: 600;
}

.yearly-stats-highlighted3 {
  background-color: #ebfbf6;
  -o-border-image: linear-gradient(to right, #b8f2ce 0%, #b3dde0 100%) 1;
     border-image: linear-gradient(to right, #b8f2ce 0%, #b3dde0 100%) 1;
  border-radius: 5px; /* this doesn't work */
  border-width: 4px;
  border-style: solid;
  position: relative;
}
.yearly-stats-highlighted3::before {
  content: url("../images/elements/christmas-stars.png");
  position: absolute;
  right: -40px;
  top: -28px;
}
@media (max-width: 767px) {
  .yearly-stats-highlighted3::before {
    right: 0;
  }
}
.yearly-stats-highlighted3::after {
  content: url("../images/elements/christmas-stars.png");
  position: absolute;
  left: -30px;
  bottom: -48px;
}
@media (max-width: 767px) {
  .yearly-stats-highlighted3::after {
    left: 0;
  }
}
.yearly-stats-highlighted3 .into {
  background: linear-gradient(to right, #b8f2ce, #b3dde0) !important;
  font-family: "gilroy", "serif";
  box-shadow: 0 0px 6px #209b9b;
  border: 1px solid #a4c8c8;
  line-height: 1.2;
}
.yearly-stats-highlighted3 .into1, .yearly-stats-highlighted3 .into3 {
  color: black;
  font-family: "gilroy", "serif";
  font-weight: 500;
}

.yearly-stats-highlighted4 {
  background-color: rgba(168, 240, 119, 0.15);
  border: 4px solid #c9dba8;
}
.yearly-stats-highlighted4 .into {
  background-color: #c9dba8 !important;
  font-family: "gilroy", "serif";
  line-height: 1.2;
  box-shadow: 0 0px 10px #3b5807;
  border: 1px solid #c9dba8;
  font-size: 1.9rem !important;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .yearly-stats-highlighted4 .into {
    font-size: 1.2rem !important;
  }
}
.yearly-stats-highlighted4 .into1, .yearly-stats-highlighted4 .into3 {
  color: black;
  font-family: "gilroy", "serif";
}

.artists-wrapper-new {
  border-radius: 30px;
}
.artists-wrapper-new .main-event-section {
  background-color: #ebfbf6;
  border: 4px solid #b8f2ce !important;
}
.artists-wrapper-new .main-event-img1 {
  border-color: #b8f2ce;
  background-color: #b8f2ce;
}
.artists-wrapper-new .most-booked-number {
  font-family: "gilroy", "serif";
}
.artists-wrapper-new .name-wrapper p {
  color: black !important;
}

.artists-wrapper-new2 .main-event-section {
  background-color: rgba(168, 240, 119, 0.15);
  border: 4px solid #c9dba8 !important;
}
.artists-wrapper-new2 .main-event-img1 {
  border-color: #c9dba8;
  background-color: #c9dba8;
}
.artists-wrapper-new2 .most-booked-number {
  font-family: "gilroy", "serif";
}
.artists-wrapper-new2 .name-wrapper p {
  color: black !important;
}

.main-divider {
  width: 100%;
  height: 20px;
  background-color: #f39454;
}

.year-img {
  max-width: 464px;
}

.title-block-main {
  position: relative;
}
.title-block-main .title-block, .title-block-main .title-block2 {
  font-size: 1.94rem;
  font-family: "gilroy", "serif";
  text-transform: uppercase;
  line-height: 1.2;
  color: #000000;
  position: absolute;
  left: 50%;
  top: 5px;
  transform: translateX(-50%);
  width: 100%;
}
@media (max-width: 768px) {
  .title-block-main .title-block, .title-block-main .title-block2 {
    font-size: 4vw;
  }
}
@media (max-width: 590px) {
  .title-block-main .title-block, .title-block-main .title-block2 {
    font-size: 5.2vw;
    text-align: center;
  }
}
@media (max-width: 348px) {
  .title-block-main .title-block, .title-block-main .title-block2 {
    font-size: 5.1vw;
  }
}
.title-block-main .title-block2 {
  top: unset;
  bottom: 20px;
  letter-spacing: 2px;
}

@media (max-width: 991px) {
  .option-3 img {
    width: 50% !important;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .option-3 p {
    text-align: left !important;
  }
  .option-3 .name-wrapper {
    padding: 0 12px;
  }
}/*# sourceMappingURL=style.css.map */